<p id="notice"><%= notice %></p>



<table class="uk-table uk-table-divider uk-table-hover uk-table-middle">
  <caption>Your reminders</caption>
  <thead>
    <tr>
      <th>Title</th>
      <th>Date</th>
    </tr>
  </thead>

  <tbody>
    <% @reminders.each do |reminder| %>
      <tr>
        <td><%= reminder.title %></td>
        <td><%= reminder.date %></td>

        <td><%= link_to ' ', reminder, {'uk-icon' => 'icon: plus', 'alt' => 'Show'} %>
        <%= link_to ' ', edit_reminder_path(reminder), {'uk-icon' => 'icon: pencil', 'alt' => 'Edit'} %>
        <%= link_to ' ', reminder, method: :delete, data: { confirm: 'Are you sure?' }, 'uk-icon' => 'icon: trash' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Reminder', new_reminder_path, class: "uk-button uk-button-primary" %>
